<div class="container mx-5 mt-4">
<form action="/answer" data-turbo="false">
  <div class="form-group">
    <label for="question" class="mb-2" >Your Question</label>
    <input type="text" name="question" class="form-control">
  </div>
  <button type="submit" class="mt-2 btn btn-primary">Ask!</button>
</form>
</div>
